# PostgreSQL
POSTGRES_USER=orderflow
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

# User Service DB
USER_DB_HOST=localhost
USER_DB_PORT=5432
USER_DB_NAME=orderflow_user

# Inventory Service DB
INVENTORY_DB_HOST=localhost
INVENTORY_DB_PORT=5432
INVENTORY_DB_NAME=orderflow_inventory

# Order Service DB
ORDER_DB_HOST=localhost
ORDER_DB_PORT=5432
ORDER_DB_NAME=orderflow_order

# Notification Service DB
NOTIFICATION_DB_HOST=localhost
NOTIFICATION_DB_PORT=5432
NOTIFICATION_DB_NAME=orderflow_notification

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=orderflow
RABBITMQ_PASSWORD=change-me