project_name = "orderflow"
environment  = "dev"
aws_region   = "ap-south-1"

vpc_cidr = "10.20.0.0/16"

postgres_engine_version    = "17.11"
postgres_instance_class    = "db.t4g.micro"
postgres_allocated_storage = 20
db_master_username         = "orderflow_admin"

redis_engine_version = "7.1"
redis_node_type       = "cache.t4g.micro"

rabbitmq_engine_version = "3.13"
rabbitmq_instance_type  = "mq.m7g.medium"
rabbitmq_username       = "orderflow"

cloudwatch_log_retention_days = 14

github_repository = "shuchit-srx/orderflow"
github_branch     = "main"

enable_https    = false
domain_name     = null
route53_zone_id = null

enable_https    = true
domain_name     = "api.yourdomain.com"
route53_zone_id = "YOUR_ROUTE53_ZONE_ID"