<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty
            scope="context"
            name="applicationName"
            source="spring.application.name"
            defaultValue="user-service"/>

    <property
            name="LOG_PATTERN"
            value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level service=${applicationName} requestId=%X{requestId} thread=%thread logger=%logger{36} message=%msg%n"/>

    <appender
            name="CONSOLE"
            class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

    </appender>

    <root level="INFO">

        <appender-ref ref="CONSOLE"/>

    </root>

</configuration>